<div class="grid text-center">
    <h1 class="homeLogo">
      <br/>
    </h1>
    
    <h2>
      Zapisuj na Pintereście wszystko, co Cię zachwyci (przepisy, artykuły, pomysły na podróże).
    </h2>
    </div>
    <div class="containter text-center">
      <div class="row align-items-start">
        <div class="col">
          <button type="button" class="btn btn-primary">Zarejestruj się przez Facebooka</button>
      
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary" (click)="loginWithEmail()">Zarejestruj się przez email</button>
        </div>
      </div>
      <img class="img-fluid" src="../assets/images/presentation.jpg"/>
    </div>
    